.header {
  width: 100%;
  height: 80px;
  background-color: $neutral-0;
  border-bottom: 1px solid $neutral-300;
}

.header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-spacer {
  flex: 1;
}

.header-logo {
  font-size: $h4;
  font-weight: 700;
  color: $neutral-900;
  margin: 0;
}

.header-user{
  padding-right:40px;
}