$primary-100: #F5FEE7;
$primary-200: #E8FEA5;
$primary-300: #C0FA73;
$primary-400: #57A203;
$primary-500: #477A11;

$neutral-0:   #FFFFFF;
$neutral-100: #F8F9FA;
$neutral-200: #E9ECEF;
$neutral-300: #DEE2E6;
$neutral-400: #CED4DA;
$neutral-500: #ADB5BD;
$neutral-600: #6C757D;
$neutral-700: #495057;
$neutral-800: #343A40;
$neutral-900: #212529;

$success-300: #36A375;
$danger-300:  #D74A4A;
$warning-300: #F3B812;
$info-300:    #3387D6;

$container-max: 1296px;
$container-padding-desktop: 24px;
$container-padding-mobile: 12px;

$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

$font-base: 'Noto Sans TC', sans-serif; 

$text-lg: 20px;
$text-md: 16px;
$text-sm: 14px;

$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 32px;
$space-8: 40px;

$h1: 40px; 
$h2: 32px; 
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 16px;